@font-face {
  font-family: "FiraSans";
  font-display: swap;
  src: url("../fonts/FiraSans-ExtraBold.woff") format("woff"), url("../fonts/FiraSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans";
  font-display: swap;
  src: url("../fonts/FiraSans-Medium.woff") format("woff"), url("../fonts/FiraSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans";
  font-display: swap;
  src: url("../fonts/FiraSans-Regular.woff") format("woff"), url("../fonts/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans";
  font-display: swap;
  src: url("../fonts/FiraSans-Light.woff") format("woff"), url("../fonts/FiraSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans";
  font-display: swap;
  src: url("../fonts/FiraSans-Thin.woff") format("woff"), url("../fonts/FiraSans-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "FiraSans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "FiraSans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "FiraSans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._container {
  max-width: 1232px;
  padding: 0 15px;
  margin: 0 auto;
}

.suptitle__left {
  display: inline-block;
  position: relative;
  padding-left: 104px;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 7.3px;
  opacity: 0.5;
  text-transform: uppercase;
}

.suptitle__left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 80px;
  height: 1px;
  background-color: #fff;
}

.header {
  position: relative;
  height: 100vh;
}

._no-webp .header__slider-item {
  background-image: url(../img/bg-header.jpg); }

.header__slider-item {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: right;
}

.slider-item__info-title {
  margin-bottom: 48px;
  font-size: 80px;
  font-weight: 800;
  line-height: 86px;
}

.slider-item__info-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 20px;
}

.slider-item__info-suptitle {
  margin-bottom: 5px;
}

.slider-item__info-suptext {
  margin-bottom: 8px;
}

.slider-item__info-link {
  display: inline-block;
}

.slider-arrows {
  position: absolute;
  z-index: 2;
  top: 40px;
  right: 80px;
  cursor: pointer;
}

.slider-arrows__left {
  right: 125px;
}

.slider-dots {
  position: absolute;
  right: 50px;
  bottom: 40px;
  max-width: 920px;
  width: 100%;
  color: #fff;
}

.slider-dots .slick-current .dots-box {
  border-top: 4px solid #4AF6CD;
}

.dots-box {
  width: 200px;
  height: 34px;
  padding-top: 6px;
  border-top: 4px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dots-box__number {
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
}

.dots-box__name {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

section .temp {
  color: green;
}

footer .temp {
  color: purple;
}

._webp .header__slider-item { background-image: url(../img/bg-header.webp); }